<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">+
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <form [formGroup]="form">
      
      <div [hidden]="true">
        <input matInput type="text" class="form-control" placeholder="ID" formControlName="id">
      </div>

      <label for="">Usuario</label>
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="Usuario" formControlName="username">
        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
      </div>
      <br>
      
      <label for="">Contraseña</label>
      <div class="input-group ">
        <input matInput [type]="isActive ? 'password' : 'text' " class="form-control" placeholder="Contraseña" formControlName="password">
        <span class="input-group-text" >
          <i (click)="isActive = !isActive " 
              [ngClass]="[!isActive ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye']">
          </i> 
        </span>
      </div>
      <hr>

      <input type="checkbox" id="recordar" class="form-check-input" formControlName="recordar" >
      <label for="recordar" class="form-check-label">&nbsp; Recordar </label>

      <div class="d-grid gap-2 col-12 mx-auto">
        <button class="btn btn-primary m-2" (click)="iniciarSesion()" > Iniciar Sesion
        </button>
      </div>

    </form>
  </div>
</div>
