<div class="card" style="width: 18rem;">
  <div class="card-body">

    <form [formGroup]="form">

      <div [hidden]="true">
        <input matInput type="text" class="form-control" placeholder="ID" formControlName="id">
      </div>

      <label class="form-label"> Usuario </label>
      <input matInput type="text" class="form-control" placeholder="Usuario" formControlName="username">

      <label class="form-label"> Contraseña </label>
      <input matInput type="password" class="form-control" placeholder="Contraseña" formControlName="password">
      <hr>

      <div class="d-grid gap-2 col-12 mx-auto">
        <button class="btn btn-primary m-2" (click)="iniciarSesion()" [disabled]="form.invalid"> Iniciar Sesion
        </button>
      </div>


    </form>


  </div>
</div>
