<div class="container">
  <br>
  <form [formGroup]="form">
    <div class="mb-9 row">
      <label class="col-lg-1 col-sm-auto col-form-label"> Fecha Inicial</label>
      <div class="col-lg-2 col-sm-auto">
        <input class="form-control" type="date" formControlName="FechaInicial" >
      </div>
      <label class="col-lg-1 col-sm-auto col-form-label"> Fecha Final : </label>
      <div class="col-lg-2 col-sm-auto">
        <input class="form-control" type="date" formControlName="FechaFinal">
      </div>
      <label class="col-lg-1 col-sm-auto col-form-label"> Ruta : </label>
      <div class="col-lg-2 col-sm-auto">
        <ng-select [items]="rutas" 
           bindLabel="Empleado.Nombre" 
           bindValue="Id" 
           formControlName="Ruta">
        </ng-select>
      </div>
    </div>
    <br>
    <div class="mb-9 row">
      <label class="col-xs-3 col-sm-auto col-form-label"> Acumular ventas ?</label>
      <!-- <div class="col-sm-6"> -->
        <div class="col-xs-1 col-sm-1">
          <input type="radio" id="No"  formControlName="Acumular"  value=False checked>
          <label for="No">No</label>
        </div>
        
        <div class="col-xs-1 col-sm-1">
          <input type="radio" id="Si"  formControlName="Acumular" value=True>
          <label for="Si">Si</label>
        </div>
      </div>
    <!-- </div> -->
    <button class="btn btn-secondary col-sm-auto" (click)="searchFechas()">Buscar</button>
    <button type="submit" class="btn btn-primary m-2" (click)="downloadExcel()">
      Descargar Excel</button>
      <hr>
      
      <ul>
        <li>Tradicional : {{tradicional | number}}</li>
        <li>Mega : {{mega | number}}</li>
        <li>Devolucion : {{devolucion | number}}</li>
        <li>TOTAL : {{tradicional + mega - devolucion | number}}</li>
      </ul>
       
      <div class="mb-3 row">
      <label class="col-xs-3 col-sm-auto col-form-label"> Buscar : </label>
      <div class="col-xs-3 col-sm-auto">
        <input class="form-control" type="text" [formControl]="filter">
      </div>
      <div class="col-xs-3 col-sm-auto">
        <button class="btn btn-secondary col-sm-auto"  (click)="getVentas()">Limpiar Filtros</button>
      </div>
    </div>
  </form>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link"   (click)="refreshCountries(page - 1)">Previous</a></li>
      <li class="page-item" (click)="refreshCountries(1)"><a class="page-link" >1</a></li>
      <li class="page-item" (click)="refreshCountries(2)"><a class="page-link" >2</a></li>
      <li class="page-item" (click)="refreshCountries(3)"><a class="page-link" >3</a></li>
      <li>
        <input type="number" placeholder="Pagina" class="form-control sm" [(ngModel)]="page" (blur)="refreshCountries(page)">
        <!-- <ng-select [items]="rutas" 
           bindLabel="Empleado.Nombre" 
           bindValue="Id" 
           formControlName="Ruta">
        </ng-select> -->
      </li>
      <li class="page-item"><a class="page-link" (click)="refreshCountries(page + 1)">Next</a></li>
      <li class="page-item"><a class="page-link" >Pagina :{{page}}  De  {{(this.ventas.length / this.pageSize) | number:'1.0-0'}}</a></li>
    </ul>
  </nav>
  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (change)="refreshCountries(page)">
		<option [ngValue]="10">10 registros por pagina</option>
		<option [ngValue]="20">20 registros por pagina</option>
		<option [ngValue]="30">30 registros por pagina</option>
	</select>
  <table class="table table-hover  table-bordered table-striped   text-center table-sortable">
    <thead class="table-dark">
      <tr>
        <th> # </th>
        <th class="order"> Fecha <i class="fa-sharp fa-solid fa-sort"></i> </th>
        <th> Tienda </th>
        <th> Tradicional </th>
        <th> Megas </th>
        <th> Devolucion </th>
        <th> Total </th>
        <th> Empleado </th>
      </tr>
    </thead>
    <tBody>
      <tr *ngFor="let item of ventas$ | async; let indice=index ">
        <td> {{ (indice + 1) * page}}</td>
        <td> {{ item.Fecha  }} </td>
        <td> {{ item.Tienda.Nombre | uppercase }} </td>
        <td> {{ item.Tradicional | number}} </td>
        <td> {{ item.Mega  | number }} </td>
        <td> {{ item.Devolucion | number }} </td>
        <td> {{ item.Total  | number}} </td>
        <td> {{ item.Ruta.Empleado.Nombre  | uppercase }} </td>
      </tr>
    </tBody>
  </table>
</div>


