<div class="container">
  <form [formGroup]="form">
    <!-- <button class="button" type="submit">Purchase</button> -->
    <ng-container formArrayName="tiendas">

      <div class="row">
        <div class="col-3">
          <label class="form-label"> Tienda </label>
        </div>
        <div class="col-3">
          <label class="form-label"> Tradicional </label>
        </div>
        <div class="col-3">
          <label class="form-label"> Mega </label>
        </div>
        <div class="col-3">
          <label class="form-label"> Devolucion </label>
        </div>
      </div>

      <ng-container *ngFor="let item of tiendas.controls; let i=index">
        <div [formGroupName]="i">
          <hr>

          <div class="row">
            <div  [hidden]="true">
              <input type="text" class="form-control" placeholder="Tienda" formControlName="Tienda">
            </div>

            <div class="col-3">
              <span > {{ item.value["Tienda"].Nombre }} : </span>
              <!-- {{item.value | json}} -->
              <!-- <button type="button"  > -->
                <br>
                <i class="fa-solid fa-b" placement="right" [ngbTooltip]='item.value.Tienda.Barrio'></i>
                &nbsp;
                <i class="fa-solid fa-d" placement="right" [ngbTooltip]='item.value.Tienda.Direccion'></i>

              <!-- </button> -->
              <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" [title]="item.value.Tienda.Nombre">
                Tooltip on top
              </button> -->
            </div>

            <div class="col-3">
              <input 
                type="text"  
                class="form-control" 
                placeholder="Tradicional" 
                formControlName="Tradicional"
                mask="separator"
                thousandSeparator="."
                >
            </div>

            <div class="col-3">
              <input type="number" class="form-control" placeholder="Mega" formControlName="Mega">
            </div>

            <div class="col-3">
              <input type="number" class="form-control" placeholder="Devolucion" formControlName="Devolucion">
            </div>
          </div>


          <!-- <div class="col-2 col-xl-2">
            <button class="btn btn-primary rounded-circle w-25 "  > 
              <i class="fa-solid fa-plus"></i>
            </button>
          </div> -->

        </div>

      </ng-container>
      <hr>
    </ng-container>

    <div class="row">
      <div class="d-grid gap-2 col-12 col-sm-6">
        <button type="submit" class="btn btn-primary m-2" (click)="save()" [disabled]="form.invalid">
        Ingresar Ventas </button>
      </div>
    </div>

  </form>
</div>
